{% extends "base.html" %}

{% block content %}

	<div class="contentholder">
		<div class="formheader"><h2>Lesson Plans: Code for Progress 2014 class</h2></div>	
			<br><br>
			{% for w in range(0,18) %}
			<a href="#" class="show_hide{{w+1}}"><p class ="chaptertitle">Week {{w+1}}: {{lessons[(w*5)+1].weektitle}}</p></a>
			<div class="slidingDiv{{w+1}}">
				<ul>

					{% for lesson in lessons[((w*5)):((w*5)+5)] %}
						<li><a href="{{ url_for('lesson', shortcode = lesson.shortcode) }}"> <span class="lessontitle">Day {{lesson.day}} - {{lesson.title}}</span></a></li>
					{% endfor %}

				</ul>
				<a href="#" class="show_hide{{w+1}}"><b>(Hide this week)<br></b><br></a>		
			</div>
			{% endfor %}

		</div>

</div>
<a href="http://apply.codeforprogress.org/staffview">
	<button class="advance"><h2>DONE HERE!</h2><p>Return to staffview</p></button>
</a>

{% endblock %}
