{% extends "base.html" %}

{% block content %}

<br>
	<div id = "navbuttonholder">
		<button id = "previousarrow" onClick="location.href ='{{ url_for('edit_lesson', shortcode = "01-01") }}'">  < Previous lesson </button>
		<button id = "editbutton" onClick="location.href ='{{ url_for('edit_lesson', shortcode = lesson.shortcode) }}'"> Edit this lesson </button>
		<button id = "nextarrow" onClick="location.href ='{{ url_for('edit_lesson', shortcode = "01-03") }}'">Next lesson > </button>
	</div>
<br><br>

	<div class="contentholder">
		<div class="lessonheader">
			<h2>{{ lesson.title }}</h2>
			<p>Lesson Plan - Week {{ lesson.week }}, Day {{ lesson.day}} </p>
			<p><b>Projected date</b>: {{ lesson.projectedDate }}
			<br><b>Instructor(s)</b>: {{ lesson.instructors }} </p>
			<br><br>
		</div>

		<p class="sectiontitle">Learning outcomes</p>
			<p>After this lesson, participants will be able to:
			<ul>
				<li><span>{{ lesson.outcome1 }}</span></li>
				<li><span>{{ lesson.outcome2 }}</span></li>
				<li><span>{{ lesson.outcome3 }}</span></li>
				<li><span>{{ lesson.outcome4 }}</span></li>
				<li><span>{{ lesson.outcome5 }}</span></li>		
				<li><span>{{ lesson.outcome6 }}</span></li>
				<li><span>{{ lesson.outcome7 }}</span></li>
				<li><span>{{ lesson.outcome8 }}</span></li>
				<li><span>{{ lesson.outcome9 }}</span></li>
				<li><span>{{ lesson.outcome10 }}</span></li>
			</ul><br>



		<p class="sectiontitle">Prep required before start of lesson</p>
			<ul>
				<li><span>{{ lesson.prep }}<span></li>
			</ul><br>


		<p class="sectiontitle">Materials to bring (instructional team)</p>
			<p><i>Note that whiteboards, easel pads, markers, projector, and screen should be in place for all lessons</i></p>
			<ul>
				<li><span>{{ lesson.materials }}<span></li>
			</ul><br>

		<p class="sectiontitle">Materials to bring (participants)</p>
			<p><i>Note that participants should bring their computers, USB drives, notebooks, and course text every day</i></p>
			<ul>
				<li><span>{{ lesson.participantMaterials }}<span></li>
			</ul><br>
			
			
		<p class="sectiontitle">Annotated schedule</p>
			<p><div class="time">{{ lesson.time1 }}</div><div class="activity">{{ lesson.activity1 }}</div></p>
			<p><div class="time">{{ lesson.time2 }}</div><div class="activity">{{ lesson.activity2 }}</div></p>
			<p><div class="time">{{ lesson.time3 }}</div><div class="activity">{{ lesson.activity3 }}</div></p>
			<p><div class="time">{{ lesson.time4 }}</div><div class="activity">{{ lesson.activity4 }}</div></p>
			<p><div class="time">{{ lesson.time5 }}</div><div class="activity">{{ lesson.activity5 }}</div></p>
			<p><div class="time">{{ lesson.time6 }}</div><div class="activity">{{ lesson.activity6 }}</div></p>
			<p><div class="time">{{ lesson.time7 }}</div><div class="activity">{{ lesson.activity7 }}</div></p>
			<p><div class="time">{{ lesson.time8 }}</div><div class="activity">{{ lesson.activity8 }}</div></p>
			<p><div class="time">{{ lesson.time9 }}</div><div class="activity">{{ lesson.activity9 }}</div></p>
			<p><div class="time">{{ lesson.time10 }}</div><div class="activity">{{ lesson.activity10 }}</div></p>
			<br>

<br>
<!-- NEED CONTROL FLOW HERE -->
	<div id = "navbuttonholder">
		<button id = "previousarrow" onClick="location.href ='{{ url_for('edit_lesson', shortcode = "01-01") }}'">  < Previous lesson </button>
		<button id = "editbutton" onClick="location.href ='{{ url_for('edit_lesson', shortcode = "01-01") }}'"> Edit this lesson </button>
		<button id = "nextarrow" onClick="location.href ='{{ url_for('edit_lesson', shortcode = "01-03") }}'">Next lesson > </button>
	</div>
</div><br><br><br>
<a href="{{url_for('index')}}">
	<button class="advance"><h2>BACK</h2><p>To Table of Contents</p></button>
</a>
{% endblock %}
