{% extends "base.html" %}

{% block content %}

<br>
<button id = "previousarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 2) }}'"> < Previous lesson</button>
<button id = "nextarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 4) }}'">Next lesson > </button>
<br><br>

	<div class="contentholder">
		<div class="formheader">
			<h2>Master's Tools, Remastered Tools, Native Tools: Critical-conceptual app design using things we already know</h2>
			<p>Lesson Plan - Week 1, Day {{shortcode}}</p>
			<p><b>Projected date</b>: Wednesday April 16, 2014
			<br><b>Instructor(s)</b>: Fox, Rahman, Wiggins</p>
			<br><br>
		</div>

		<p class="sectiontitle">Learning outcomes</p>
			<p>After this lesson, participants will be able to:
			<ul>
				<li><span>Identify what we’ve been told about coders/programmers/app developers, who they are, what they look like, and why this is the case</span></li>
				<li><span>Identify some of the current roles of developers in the social justice movement</span></li>
				<li><span>Distinguish between “technology,” “code,” and “applications”</span></li>
				<li><span>Identify three objects we see or use daily that rely on code to run</span></li>
				<li><span>Explain the difference between tools (objects produced) and “technologies” (ways of being in the world made possible by those tools) for common products in our lives</span></li>
				<li><span>Discuss how specific digital technologies build power, and who benefits from this</li></span>
			</ul><br>

		<p class="sectiontitle">Prep required before start of lesson</p>
			<ul>
				<li><span>Prep two guest instructors/colleagues to do first activity with us - reminder call</span></li>			
				<li><span>Prep afternoon outing (4-5 hours)</span></li>	
			</ul><br>


		<p class="sectiontitle">Materials to bring (instructional team)</p>
			<p><i>Note that whiteboards, easel pads, markers, projector, and screen should be in place for all lessons</i></p>
			<ul>
				<li><span>Examples (objects and photos) of technologies that run on code</span></li>
			</ul><br>

		<p class="sectiontitle">Materials to bring (participants)</p>
			<p><i>Note that participants should bring their computers, USB drives, notebooks, and course text every day</i></p>
			<ul>
				<li><span>No special participant materials for this lesson.</span></li>
			</ul><br>
			
			
		<p class="sectiontitle">Annotated schedule</p>
			<p><div class="time">9am-9:15am</div><div class="activity">Start and overview today's schedule</div></p>
			<p><div class="time">9:15am-10:30am</div><div class="activity">With guests: Restaurant metaphor exercise on roles and jobs in progressive tech</div></p>	
			<p><div class="time">10:30am-10:45am</div><div class="activity">Break</div></p>
			<p><div class="time">10:45am-noon</div><div class="activity">Activity on "code that builds power": Identifying tech that runs on code, how it builds power, and who benefits from it</div></p>
			<p><div class="time">noon-4:45pm</div><div class="activity">Lunch, and leave the teaching space and do something fun together!</div></p>			
			<p><div class="time">4:45pm-5pm</div><div class="activity">Closeout exercise and recap for tomorrow -remind about tomorrow's party</div></p>
			<br>


<br>
<button id = "previousarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 2) }}'"> < Previous lesson</button>
<button id = "nextarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 4) }}'"> Next lesson > </button>
</div><br><br><br>
<a href="{{url_for('index')}}">
	<button class="advance"><h2>BACK</h2><p>To Table of Contents</p></button>
</a>

{% endblock %}
