{% extends "base.html" %}

{% block content %}

<br>
	<div id = "navbuttonholder">

		{% if lesson.shortcode !="1-1" %}<button id = "previousarrow" onClick="location.href ='{{ url_for('lesson', shortcode = previouslesson.shortcode) }}'">  < Previous lesson </button>{% endif %}
		<button id = "editbutton" onClick="location.href ='{{ url_for('edit_lesson', shortcode = lesson.shortcode) }}'"> Edit this lesson </button>
		{% if lesson.shortcode !="16-5" %}<button id = "nextarrow" onClick="location.href ='{{ url_for('lesson', shortcode = nextlesson.shortcode) }}'">Next lesson > </button>{% endif %}
	</div>
<br><br>

	<div class="contentholder">
		<div class="lessonheader">
			<h2>{{ lesson.title }}</h2>
			<p>Lesson Plan - Week {{ lesson.week }}, Day {{ lesson.day}} </p>
			<p><b>Projected date</b>: {{ lesson.projectedDate }}
			<br><b>Instructor(s)</b>: {{ lesson.instructors }} </p>
			<br><br>
		</div>

		<p class="sectiontitle">Learning outcomes</p>
			<p>After this lesson, participants will be able to:
			<ul>
				<li><span>{{ lesson.learningOutcome1 }}</span></li>
				{% if lesson.learningOutcome2 %}<li><span>{{ lesson.learningOutcome2 }}</span></li>{% endif %}
				{% if lesson.learningOutcome3 %}<li><span>{{ lesson.learningOutcome3 }}</span></li>{% endif %}
				{% if lesson.learningOutcome4 %}<li><span>{{ lesson.learningOutcome4 }}</span></li>{% endif %}
				{% if lesson.learningOutcome5 %}<li><span>{{ lesson.learningOutcome5 }}</span></li>{% endif %}
				{% if lesson.learningOutcome6 %}<li><span>{{ lesson.learningOutcome6 }}</span></li>{% endif %}
				{% if lesson.learningOutcome7 %}<li><span>{{ lesson.learningOutcome7 }}</span></li>{% endif %}
				{% if lesson.learningOutcome8 %}<li><span>{{ lesson.learningOutcome8 }}</span></li>{% endif %}
				{% if lesson.learningOutcome9 %}<li><span>{{ lesson.learningOutcome9 }}</span></li>{% endif %}
				{% if lesson.learningOutcome10 %}<li><span>{{ lesson.learningOutcome10 }}</span></li>{% endif %}
			</ul><br>



		<p class="sectiontitle">Prep required before start of lesson</p>
			<ul>
				<li><span>{{ lesson.prep }}<span></li>
			</ul><br>


		<p class="sectiontitle">Materials to bring (instructional team)</p>
			<p><i>Note that whiteboards, easel pads, markers, projector, and screen should be in place for all lessons</i></p>
			<ul>
				<li><span>{{ lesson.materials }}<span></li>
			</ul><br>

		<p class="sectiontitle">Materials to bring (participants)</p>
			<p><i>Note that participants should bring their computers, USB drives, notebooks, and course text every day</i></p>
			<ul>
				<li><span>{{ lesson.participantMaterials }}<span></li>
			</ul><br>
			
			
		<p class="sectiontitle">Annotated schedule</p>
			{% if lesson.time1 %}<p><div class="time">{{ lesson.time1 }}</div><div class="activity">{{ lesson.activity1 }}</div></p>{% endif %}
			{% if lesson.time2 %}<p><div class="time">{{ lesson.time2 }}</div><div class="activity">{{ lesson.activity2 }}</div></p>{% endif %}
			{% if lesson.time3 %}<p><div class="time">{{ lesson.time3 }}</div><div class="activity">{{ lesson.activity3 }}</div></p>{% endif %}
			{% if lesson.time4 %}<p><div class="time">{{ lesson.time4 }}</div><div class="activity">{{ lesson.activity4 }}</div></p>{% endif %}
			{% if lesson.time5 %}<p><div class="time">{{ lesson.time5 }}</div><div class="activity">{{ lesson.activity5 }}</div></p>{% endif %}
			{% if lesson.time6 %}<p><div class="time">{{ lesson.time6 }}</div><div class="activity">{{ lesson.activity6 }}</div></p>{% endif %}
			{% if lesson.time7 %}<p><div class="time">{{ lesson.time7 }}</div><div class="activity">{{ lesson.activity7 }}</div></p>{% endif %}
			{% if lesson.time8 %}<p><div class="time">{{ lesson.time8 }}</div><div class="activity">{{ lesson.activity8 }}</div></p>{% endif %}
			{% if lesson.time9 %}<p><div class="time">{{ lesson.time9 }}</div><div class="activity">{{ lesson.activity9 }}</div></p>{% endif %}
			{% if lesson.time10 %}<p><div class="time">{{ lesson.time10 }}</div><div class="activity">{{ lesson.activity10 }}</div></p>{% endif %}
			<br>

<br>
<!-- NEED CONTROL FLOW HERE -->
	<div id = "navbuttonholder">
	{% if lesson.shortcode !="1-1" %}<button id = "previousarrow" onClick="location.href ='{{ url_for('lesson', shortcode = previouslesson.shortcode) }}'">  < Previous lesson </button> {% endif %}
		<button id = "editbutton" onClick="location.href ='{{ url_for('edit_lesson', shortcode = lesson.shortcode) }}'"> Edit this lesson </button>
	{% if lesson.shortcode !="16-5" %}	<button id = "nextarrow" onClick="location.href ='{{ url_for('lesson', shortcode = nextlesson.shortcode) }}'">Next lesson > </button> {% endif %}
	</div>
</div><br><br><br>
<a href="{{url_for('index')}}">
	<button class="advance"><h2>BACK</h2><p>To Table of Contents</p></button>
</a>
{% endblock %}
