{% extends "base.html" %}

{% block content %}

<br>
<button id = "previousarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 4) }}'"> < Previous lesson</button>
<br><br>

	<div class="contentholder">
		<div class="formheader">
			<h2>Relax, Reboot, Reimagine: Visioning and planning the tools we'll build in this program</h2>
			<p>Lesson Plan - Week 1, Day {{shortcode}}</p>
			<p><b>Projected date</b>: Friday April 14, 2014
			<br><b>Instructor(s)</b>: Fox, Rahman, Wiggins</p>
			<br><br>
		</div>

		<p class="sectiontitle">Learning outcomes</p>
			<p>After this lesson, participants will be able to:
			<ul>
				<li><span>Plan and record a reflection video, photo set, and/or blog</span></li>		
				<li><span>Explain the underlying values of the human-centered design process</span></li>		
				<li><span>Explain the concept of "socially responsible design"</span></li>		
				<li><span>Write a no-code test for test-driven development of a simple everyday machine</span></li>
				<li><span>Explain the program's two toolkits and community project to someone who is not here</span></li>
				
			</ul><br>

		<p class="sectiontitle">Prep required before start of lesson</p>
			<ul>
				<li><span>Test video setup and YouTube/Vimeo/Vine/Instagram/whatever channel</span></li>			
			</ul><br>


		<p class="sectiontitle">Materials to bring (instructional team)</p>
			<p><i>Note that whiteboards, easel pads, markers, projector, and screen should be in place for all lessons</i></p>
			<ul>
				<li><span>No special materials for this lesson.</span></li>
			</ul><br>

		<p class="sectiontitle">Materials to bring (participants)</p>
			<p><i>Note that participants should bring their computers, USB drives, notebooks, and course text every day</i></p>
			<ul>
				<li><span>Show-and-tell object/photo</span></li>
			</ul><br>
			
			
		<p class="sectiontitle">Annotated schedule</p>
			<p><div class="time">9am-9:15am</div><div class="activity">Do Now Exercise: Instagram is made with Python/Django! Put up some photos and explain the "user story". How is this a human-centered design ("starts with the user")?</div></p>
			<p><div class="time">9:15am-noon</div><div class="activity">Being a reflective coder: first photos and video recording slot, plus catch up / play / practice time</div></p>
			<p><div class="time">noon-1:30pm</div><div class="activity">Lunch</div></p>
			<p><div class="time">1:30pm-2:30pm</div><div class="activity">Activity on building stuff that doesn't break: Test-driven design (no code) a stove, bike, and hair-dryer</div></p>
			<p><div class="time">2:30pm-4pm</div><div class="activity">Activity: Intro to our 9 project tools, 2 toolkits, and community project; write "user stories" and tests (no code yet) for project 1</div></p>
			<p><div class="time">4pm-4:45pm</div><div class="activity">Life and operations check with Managing Director</div></p>
			<p><div class="time">4:45pm-5pm</div><div class="activity">Closeout and recap for next week</div></p>	
			<br>

<br>
<button id = "previousarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 4) }}'"> < Previous lesson</button>
</div><br><br><br>
<a href="{{url_for('index')}}">
	<button class="advance"><h2>BACK</h2><p>To Table of Contents</p></button>
</a>

{% endblock %}
