{% extends "base.html" %}

{% block content %}

<br>
<button id = "previousarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 1) }}'"> < Previous lesson</button>
<button id = "nextarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 3) }}'">Next lesson > </button>
<br><br>

	<div class="contentholder">
		<div class="formheader">
			<h2>Setting Up for (a) Movement: Staying healthy and happy while we learn and work</h2>
			<p>Lesson Plan - Week 1, Day {{shortcode}}</p>
			<p><b>Projected date</b>: Tuesday April 14, 2014
			<br><b>Instructor(s)</b>: Fox, Rahman, Wiggins</p>
			<br><br>
		</div>

		<p class="sectiontitle">Learning outcomes</p>
		<p>After this lesson, participants will be able to:
			<ul>
				<li><span>Describe the role and impact of previous mentors in their life</span></li>
				<li><span>Describe the supporting impact they have had on someone in their life, the specific things they did to support, and how they learned to do those things</span></li>				
				<li><span>Explain the concept of an "ethic of care" (care as a leadership practice that we do vs. only something we feel), and as a "hard skill" for social justice organizing</span></li>	
				<li><span>Explain and critique the "soft skills"/"hard skills" dichotomy in social justice tech/field/data, and understand its gender and race implications</span></li>	
				<li><span>Write a list of more-than-basic wellness needs, and know where to locate them in Washington, DC</span></li>
				<li><span>Articulate five personal/professional development goals they want to work on during the program</span></li>
				<li><span>Assemble a personal development plan</span></li>
				<li><span>Make, move, and delete folders and simple text files using the command line</span></li>
			</ul><br>

		<p class="sectiontitle">Prep required before start of lesson</p>
			<ul>
				<li><span>Collect and upload recommender videos, set up sound</span></li>
				<li><span>Research on events this week/end and DC spots (see materials)</span></li>	
			</ul><br>


		<p class="sectiontitle">Materials to bring (instructional team)</p>
			<p><i>Note that whiteboards, easel pads, markers, projector, and screen should be in place for all lessons</i></p>
			<ul>
				<li><span>DC maps and lists for neighborhood joints, off-the-beaten-track spots, and places for wellness and fun</span></li>
				<li><span>Recommender video files</li>
				<li><span>Personal/professional development plan templates</span></li>
				<li><span>File draw materials for command line exercise</li>
			</ul><br>

		<p class="sectiontitle">Materials to bring (participants)</p>
			<p><i>Note that participants should bring their computers, USB drives, notebooks, and course text every day</i></p>
			<ul>
				<li><span>No special participant materials for this lesson.</span></li>
			</ul><br>
			
			
		<p class="sectiontitle">Annotated schedule</p>
			<p><div class="time">9am-9:15am</div><div class="activity">Start and overview today's schedule</div></p>		
			<p><div class="time">9:15am-9:45am</div><div class="activity">Do Now Exercise - On mentors: Who has impacted us, and what did they do to care for us? (This is ultimately about understanding care as a leadership practice rather than only a feeling, and as a "hard skill".)</div></p>
			<p><div class="time">9:45am-10:15am</div><div class="activity">Surprise videos from recommenders!</div></p>
			<p><div class="time">10:15am-10:45am</div><div class="activity">Exercise on how we have mentored another person - what specifically did we do, and how did we know to do this? Why does it matter?</div></p>
			<p><div class="time">10:45am-11am</div><div class="activity">Break</div></p>
			<p><div class="time">11am-noon</div><div class="activity">Activity: Meeting more-than-basic wellness needs over then next four months</div></p>
			<p><div class="time">noon-1:30pm</div><div class="activity">Lunch</div></p>
			<p><div class="time">1:30pm-3pm</div><div class="activity">Personal/professional development plans: Draft and peer-share/feedback. Feedback is important to help balance tech skills with welleness, balance, growth</div></p>
			<p><div class="time">3pm-3:15pm</div><div class="activity">Break</div></p>
			<p><div class="time">3:15pm-3:45pm</div><div class="activity">Life and operations check with Managing Director</div></p>
			<p><div class="time">3:45pm-4:45pm</div><div class="activity">Command line file drawer exercise: participants recreate their resources in simple text files and folder structure</div></p>
			<p><div class="time">4:45pm-5pm</div><div class="activity">Closeout exercise and recap for tomorrow</div></p>
			<br>


<br>
<button id = "previousarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 1) }}'"> < Previous lesson</button>
<button id = "nextarrow" onClick="location.href ='{{ url_for('lesson', shortcode = 3) }}'"> Next lesson > </button>
</div><br><br><br>
<a href="{{url_for('index')}}">
	<button class="advance"><h2>BACK</h2><p>To Table of Contents</p></button>
</a>

{% endblock %}
